[submodule "mySimpleTcpClient"]
	path = mySimpleTcpClient
	url = https://github.com/mehdi-shokohi/mySimpleTcpClient
[submodule "mySimpleTcpServer"]
	path = mySimpleTcpServer
	url = https://github.com/mehdi-shokohi/mySimpleTcpServer
